extends layout

block content
  h1= title
  div.form-group#testTypeGroup
    label(for='testTypeSelect') Test Type
    select.form-control#testTypeSelect
      option.t1 Compare a measure taken by two operators on different patients
      option.t2 Compare one operator checking measures twice in different patients
      option.t3 Compare two measures or methods for the same parameter in different patients
      option.t4 Compare a measurement made in the same patient under different conditions (e.g. rest and exercise)
  div.form-group
    label(for='dataTypeSelect') Type of Data
    select.form-control#dataTypeSelect
      option(selected) Continuous
      option Categorical
      option Sequential
  div#measureTypeGroup.form-group
    label(for='measureTypeSelect') Measurement
    select.form-control#measureTypeSelect
      option AV Vmax (cm/s)
      option LVOT Vmax (cm/s)
      option AVA (cm²)
      option MVA (cm²)
      option PV Vmax (cm/s)
      option TR Vmax (cm/s)
      option Peak E Velocity (cm/s)
      option TDI (E/e')

  div#finaliseModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#finaliseModalLabel' aria-hidden='true')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h5#finaliseModalLabel.modal-title Extra Information for Final Analysis

        div.modal-body
          include metadata.pug

        div.modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='button' onclick='finaliseResults()') Submit

  div#changeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='#changeModalLabel' aria-hidden='true')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h5#changeModalLabel.modal-title Extra Information for Final Analysis

        div.modal-body
          p Are you sure you want to change data type? You will lose the data that you have already entered.

        div.modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal' onclick='changeDataType(true)') Close
          button.btn.btn-primary(type='button' data-dismiss='modal' onclick='changeDataType(false)') This is fine

  div#continuousEntry
    table.table
      thead
        tr
          th.noType Observation No.
          th.m1 Test 1 Measurement
          th.m2 Test 2 Measurement
          th(style='display:none;') Average Measurement
      tbody
        tr
          td 1
          td 
            input.valueInput(type='text' value='0')
          td 
            input.valueInput(type='text' value='0')
          td(style='display:none;')
            div.avg 0
          td
            span.fa.fa-remove(aria-hidden='true' onclick='javascript:removeRow(1);')

    button.btn.btn-info(onclick='addNewRow()') Add Record
    button.btn.btn-secondary(onclick='clearTable()') Clear Data
    button.btn.btn-primary(onclick='showResults()') Update Results
    button.btn.btn-success#finaliseCo(type='button' data-toggle='modal' data-target='#finaliseModal' disabled) Finalise & Get PDF

    label Load TSV File:
    input#fileInput.btn(type='file')

  div#sequentialEntry(style='display:none')
    table.table
      thead
        tr
          th.noType Observation No.
          th.m Measurement
      tbody
        tr
          td 1
          td
            input.valueInput(type='text' value='0')
          td
            span.fa.fa-remove(aria-hidden='true' onclick='javascript:removeRow(1);')

    button.btn.btn-info(onclick='addNewRow()') Add Record
    button.btn.btn-secondary(onclick='clearTable()') Clear Data
    button.btn.btn-primary(onclick='showResults()') Update Results
    button.btn.btn-success#finaliseSe(type='button' data-toggle='modal' data-target='#finaliseModal' disabled) Finalise & Get PDF

  div#categoricalEntry(style='display:none')
   table.table
    thead
      tr
        th.noType Observation No.
        th.m1 Operator 1
        th.m2 Operator 2
    tbody
      tr
        td 1
        td 
          div.form-group
            label(for='o1o1d') Severity
            select.form-control#o1o1d
              option(style='display:none')
              option None
              option Trivial
              option Mild
              option Moderate
              option Severe
        td
          div.form-group
            label(for='o1o2d') Severity
            select.form-control#o1o2d
              option(style='display:none')
              option None
              option Trivial
              option Mild
              option Moderate
              option Severe
        td
          span.fa.fa-remove(aria-hidden='true' onclick='javascript:removeRow(1);')

    button.btn.btn-info(onclick='addNewRow()') Add Record
    button.btn.btn-secondary(onclick='clearTable()') Clear Data
    button.btn.btn-success(onclick='showResults()') Update Results
    button.btn.btn-success#finaliseCa(type='button' data-toggle='modal' data-target='#finaliseModal' disabled) Finalise & Get PDF

  div#results.row(style='display:none')
    div#continuousResults(style='display:none')
      div.row
        div.col-sm-6
          div#bland
          div#values
            div#bias Bias
            div#upper Upper limit
            div#lower Lower limit
        div.col-sm-6
          div#linear
          div#values
            div#gradient Equation:
            div#y y
            div#r r²
    div#sequentialResults(style='display:none')
      div#line
      div#variation Coefficient of variation:
      div#mdc MDC: 
      div#rcoef Repeatability coefficient:
    div#categoricalResults(style='display:none')
      h2 Totals
      table.table
        thead
          th Judge 1 vs Judge 2
          th None
          th Trivial
          th Mild
          th Moderate
          th Severe
          th Total (Judge 1)
        tbody
          tr
            th None
            td#None_None 0
            td#None_Trivial 0
            td#None_Mild 0
            td#None_Moderate 0
            td#None_Severe 0
            td#Total_None 0
          tr
            th Trivial
            td#Trivial_None 0
            td#Trivial_Trivial 0
            td#Trivial_Mild 0
            td#Trivial_Moderate 0
            td#Trivial_Severe 0
            td#Total_Trivial 0

          tr
            th Mild
            td#Mild_None 0
            td#Mild_Trivial 0
            td#Mild_Mild 0
            td#Mild_Moderate 0
            td#Mild_Severe 0
            td#Total_Mild 0
          tr 
            th Moderate
            td#Moderate_None 0
            td#Moderate_Trivial
            td#Moderate_Mild 0
            td#Moderate_Moderate 0
            td#Moderate_Severe 0
            td#Total_Moderate 0
          tr
            th Severe
            td#Severe_None 0
            td#Severe_Trivial
            td#Severe_Mild 0
            td#Severe_Moderate 0
            td#Severe_Severe 0
            td#Total_Severe 0
          tr
            th Total (Judge 2)
            td#None_Total
            td#Trivial_Total
            td#Mild_Total 0
            td#Moderate_Total 0
            td#Severe_Total 0
            td#Total_Total 0

      h2 Agreements
      table.table
        thead
          th 
          th None
          th Trivial
          th Mild
          th Moderate
          th Severe
          th Total
        tbody
          tr
            th Number of agreements
            td#Agree_None 0
            td#Agree_Trivial 0
            td#Agree_Mild 0
            td#Agree_Moderate 0
            td#Agree_Severe 0
            td#Total_Agree 0
          tr#Chance_Row
            th Agreements due to chance
            td#Chance_None
            td#Chance_Trivial
            td#Chance_Mild 0
            td#Chance_Moderate 0
            td#Chance_Severe 0
            td#Total_Chance 0
      p#Kappa

