extends layout

block content
  h1= title
  div.form-group
    label(for='testTypeSelect') Test Type
    select.form-control#testTypeControlSelect
      option Compare a measure taken by two operators on different patients
      option Compare one operator checking measures twice in different patients
      option Compare two measures or methods for the same parameter in different patients
      option Compare a measurement made in the same patient under different conditions (e.g. rest and exercise)
      option Assess variation in sequential measurements by the same operator in the same patient (Repeatability)
  div.form-group
    label(for='dataTypeSelect') Type of Data
    select.form-control#dataTypeSelect
      option(selected) Continuous
      option Categorical
  div#measureTypeGroup.form-group
    label(for='measureTypeSelect') Measurement
    select.form-control#testMeasureControlSelect
      option AV Vmax (cm/s)
      option LVOT Vmax (cm/s)
      option AVA (cm²)
      option MVA (cm²)
      option PV Vmax (cm/s)
      option TR Vmax (cm/s)
      option Peak E Velocity (cm/s)
      option TDI (E/e')

  div#continuousEntry
    table.table
      thead
        tr
          th Observation No.
          th Test 1 Measurement
          th Test 2 Measurement
          th Average Measurement
      tbody
        tr
          td 1
          td 
            input.valueInput(type='text' value='0')
          td 
            input.valueInput(type='text' value='0')
          td
            div.avg 0
    button.btn.btn-info(onclick='addNewRow("continuousEntry")') Add new record
    button.btn.btn-success(onclick='showResults("continuousEntry")') Show Results
    label Load TSV File:
    input#fileInput.btn(type='file')

  div#categoricalEntry(style='display:none')
   table.table
    thead
      tr
        th Observation No.
        th Mild/Mild
        th Mild/Moderate
        th Mild/Severe
        th Moderate/Mild
        th Moderate/Moderate
        th Moderate/Severe
        th Severe/Mild
        th Severe/Moderate
        th Severe/Severe
    tbody
      tr
        td 1
        td 
          input.valueInput(type='radio' name='opt_1')
        td 
          input.valueInput(type='radio' name='opt_1')
        td 
          input.valueInput(type='radio' name='opt_1')
        td 
          input.valueInput(type='radio' name='opt_1')
        td 
          input.valueInput(type='radio' name='opt_1')
        td 
          input.valueInput(type='radio' name='opt_1')
        td 
          input.valueInput(type='radio' name='opt_1')
        td 
          input.valueInput(type='radio' name='opt_1')
        td
          input.valueInput(type='radio' name='opt_1')

    button.btn.btn-info(onclick='addNewRow("categoricalEntry")') Add new record
    button.btn.btn-success(onclick='showResults("categoricalEntry")') Show Results

  div#results.row(style='display:none')
    div#continuousResults(style='display:none')
      div.col-sm-4
        div#bland
        div#values
          div#bias Bias
          div#upper Upper limit
          div#lower Lower limit
      div.col-sm-4
        div#linear
        div#values
          div#gradient Equation:
          div#y y
          div#r r²
    div#categoricalResults(style='display:none')
